<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <div class="row">
      <div class="col-md-6">
      	<h3 class="with-line"><i class="fa fa-info-circle" aria-hidden="true"></i> How to optimize your test?</h3>
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-12 control-label">To optimize measurement, please stop every download in progress on your computer as well as on devices (other computers, tables, smartphones, game consoles) connected to your Internet connection.</label>
          <label for="inputFirstName" class="col-sm-12 control-label">Prefer a wired connection to a Wifi or powerline connection which are by far less stable for high speed connections.</label>
          <label for="inputFirstName" class="col-sm-12 control-label">Repeat the test several times to check the stability of the results.</label>
        </div>
      </div>
      <div class="col-md-6">
      	<h3 class="with-line">Select bitrate unit</h3>
	    <div class="social-profiles row clearfix">
	      <div class="col-md-6 col-sm-4" ng-repeat="item in bitrateTypes">
	
	        <a class="sn-link" href ng-class="{ 'connected': item.enable }" ng-click="selectBitrate(item)" tooltip-placement="bottom" uib-tooltip="On the {{item.description}}" >
	           <table>
	               <tr>
	                   <td>
	                       <i class="socicon {{ item.icon }}"></i> </br>
                            <span>{{ item.name }}</span>
	                   </td>
	                   <td>
                            <span style="margin-left: 10px;">{{ item.description }}</span>
                       </td>
	               </tr>
	           </table>
	        </a>
	      </div>
	    </div>
      </div>
    </div>
    
    <h3 class="with-line">Select Server Information</h3>

	<div class="row">
	  <div class="col-md-6">
		<div class="form-group row clearfix">
		  <label for="inputEmail3" class="col-sm-4 control-label">
			<i class="i-server"></i> Server selection
		  </label>
	
		  <div class="col-sm-8">
			<select ng-model="selectedServer" ng-options="x.name for x in servers" class="form-control" title="Standard Select" selectpicker ng-change="updateServer(selectedServer)">
			</select>
		  </div>
		</div>
	  </div>
	  <div class="col-md-6">
		<div class="form-group row clearfix">
		  <label class="col-sm-4 control-label"><i class="i-{{selectedServer.status}}"></i> Sever {{selectedServer.status}}</label>
		</div>
	  </div>
	</div>
    <!-- 
    <button type="button" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>Update Setting
    </button>
     -->
  </div>
	<!--   
  <pre>
  	You selected: {{selectedServer}}
  	You selected: {{selectedServer.status}}
  </pre> -->
</div>
