<!DOCTYPE HTML>
<html id="ng-app" ng-app="app"> <!-- id="ng-app" IE<8 -->
    <head>
        <title>Without bootstrap example</title>
        <link rel="stylesheet" href="style.css" />

        <!-- ES5 shim for old browsers -->
        <script src="http://nervgh.github.io/js/es5-shim.min.js"></script>
        <script src="http://nervgh.github.io/js/es5-sham.min.js"></script>
        <!--<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <script src="../console-sham.js"></script>
-->
        <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
        <script src="lib/angular-plugin/angular-file-upload/angular-file-upload.min.js"></script>
        <script src="lib/angular-plugin/angular-file-upload/controllers.js"></script>

        <!--thumbnails for images
        <script src="lib/angular-plugin/angular-file-upload/directives.js"></script>-->
    </head>

    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
    <body ng-controller="AppController" nv-file-drop="" uploader="uploader">

        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <input type="file" nv-file-select="" uploader="uploader" multiple />

        <h2>The queue. Length: {{ uploader.queue.length }}</h2>
        <ul>
            <li ng-repeat="item in uploader.queue">
                <div>Name: {{ item.file.name }}</div>
                <div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>
                <div ng-show="uploader.isHTML5">
                    Progress: {{ item.progress }}
                    <div class="item-progress-box">
                        <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </div>
                <div>
                    <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                    <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
                    <button ng-click="item.remove()">Remove</button>
                </div>
            </li>
        </ul>
        <div>
            <div>
                Total progress: {{ uploader.progress }}
                <div class="total-progress-box">
                    <div class="total-progress" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Upload all</button>
            <button ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">Cancel all</button>
            <button ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">Remove all</button>
        </div>
    </body>
</html>