<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line">{{'about.header_api' | translate}}</h3>

    <div class="row">
      <div class="col-md-12">
      	<div ba-panel
		     ba-panel-class="tabs-panel xsmall-panel with-scroll">
		  <uib-tabset>
		    <uib-tab heading="{{'about.heading1' | translate}}">
		      <p class="text-center">
		        {{'about.heading1' | translate}}
		      </p>
		
		      <div class="kameleon-icon-tabs kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Key' | kameleonImg )}}"></div>
		      <p>{{'about.heading1_content' | translate}}</p>
		    </uib-tab>
		    <uib-tab heading="{{'about.heading2' | translate}}">
		    	<p class="text-center">
		        	{{'about.heading2' | translate}}
		      	</p>
		
		      <div class="kameleon-icon-tabs kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Images' | kameleonImg )}}"></div>
		      <p>{{'about.heading2_content' | translate}}</p>
		    </uib-tab>
		    <uib-tab heading="{{'about.heading3' | translate}}">
		    	<p class="text-center">
		        	{{'about.heading3' | translate}}
		      	</p>
		
		      <div class="kameleon-icon-tabs kameleon-icon with-round-bg danger"><img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}"></div>
		      <p>{{'about.heading3_content' | translate}}</p>
		    </uib-tab>
		  </uib-tabset>
		</div>
      </div>
      <div class="col-md-6"></div>
    </div>
    <h3 class="with-line">{{'about.header_info' | translate}}</h3>

    <div class="notification row clearfix">
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label class="col-xs-8">{{'about.header_info_desc1' | translate}}</label>

          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[0]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">{{'about.header_info_desc2' | translate}}</label>

          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[1]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">{{'about.header_info_desc3' | translate}}</label>

          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[2]"></switch>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group row clearfix">
          <label class="col-xs-8">{{'about.header_info_desc4' | translate}}</label>

          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[3]"></switch>
          </div>
        </div>
        <div class="form-group row clearfix">
          <label class="col-xs-8">{{'about.header_info_desc5' | translate}}</label>

          <div class="col-xs-4">
            <switch color="primary" ng-model="switches[4]"></switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
