<div ng-controller="AppPageCtrl as app">
<div class="row">
  <div class="col-xlg-9 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xlg-8 col-lg-12 col-md-12 col-sm-7 col-xs-12"
           ba-panel
           ba-panel-title="Speed Test"
           ba-panel-class="medium-panel qos-medium-panel">
        <!-- Button -->
		<div class="qos-app-btn-panel">
			<!-- More information -->
			<span class="pull-right" style="position: absolute;right: 20px;top: 10px;">
    			Powered by <img src="assets/img/logo.png" width="55px;">
    		</span>
    		<div>
                <table style="width: 100%">
                    <tr>
                        <td>
                            <!-- Start button -->
			                <button type="button" ng-disabled="form.$invalid || measuring" class="btn btn-primary btn-sm" ng-click="app.startMeasure()">
			                     <span ng-show="measuring">
			                         <i class="fa fa-spinner fa-spin"></i> Please wait...
			                     </span>
			                     <span ng-show="!measuring">
			                         <i class="fa fa-flag" aria-hidden="true"></i> Start
			                     </span>
			                </button>
                        </td>
                        <td style="text-align: right;">
                            <div class="excerpt">
                                <p>{{selectedServer.name}}
                                </p>
                            </div>
                        </td>
                        <td style="width: 30px;">
                            <i class="i-{{selectedServer.status}}"></i>
                        </td>
                    </tr>
                </table>
    		</div>
		</div>
	    <!-- Speed chart -->
	    <div class="speedchart-container">
            <highchart id="speedChart" config="speedConfig" class="span10"></highchart>
            <div class="cssload-loader" ng-show="!measuring"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12"
       ba-panel
       ba-panel-title="Graph"
       ba-panel-class="medium-panel qos-medium-panel">
    	<div class="qos-app-btn-panel">
    		<span class="pull-left span-geo-location" ng-controller="GeoLocationPageCtrl as geo">
    			<a href ng-click="openModal()">
    				<img src="assets/img/icon/gps.gif" width="35px;">
    			</a> {{geoLocation.regionName}}, {{geoLocation.country}} {{geoLocation.lat}}°W / {{geoLocation.lon}}°S
    		</span>
	        <a href="#/setting" class="pull-right" id="setting-link">
	        	<i class="fa fa-cog" aria-hidden="true"></i>  Setting
	        </a>
		</div>
		<highchart id="graphChart" config="graphConfig" class="span10"></highchart>
		<highchart id="latencyGraphConfig" config="latencyGraphConfig" class="span10"></highchart>
  </div>
</div>
 
<dashboard-pie-chart></dashboard-pie-chart>

<div>
 	<input type="hidden" id="DownloadData" name="DownloadData" > 
 	<input type="hidden" id="DownloadTime" name="DownloadTime" >
	 <button type="button" id="triggerIframeUploadBtn"> <!-- ng-click="app.uploadCORS()"  -->
	   <i class="fa fa-flag" aria-hidden="true"></i> Upload
	</button>
	<input type="text" id="uploadFrameUrl" name="uploadFrameUrl" value="{{uploadFrame}}" >
	<input type="text" id="serverContextUrl" name="serverContextUrl" value="{{serverContextUrl}}" > 
	<div>
		{{indexFrame}}
	</div>
	<iframe width="400" height="220" ng-src="{{indexFrame}}" id="IndexIframe">
	   <p>Your browser does not support iframes.</p>
	</iframe>
</div>
</div>
