<div class="widgets">
	<div class="row" ng-controller="HomePageCtrl as home" data-ng-init="initSlide()">
	    <div class="col-md-12 center-content" style="margin-bottom: 20px;">
	        <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
	                 <img ng-src="{{slide.image}}" style="margin:auto;">
	                 <!-- 
	                 <div class="carousel-caption">
	                     <h4>Bitel {{slide.id}}</h4>
	                     <p>{{slide.text}}</p>
	                 </div> -->
	             </uib-slide>
	        </uib-carousel>
	   </div>
	</div>
	
  	<div class="row">
      <div class="col-sm-4">
        <h4>{{'home.typo_title_1' | translate}}</h4>
        <div class="img-wrapper"><img ng-src="{{::( 'app/typography/typo04.png' | appImage )}}" alt=""/></div>
        <p>{{'home.typo_content_1' | translate}}</p>
        <a href class="learn-more">{{'home.lean_more' | translate}}</a>
      </div>
      <div class="col-sm-4">
        <h4>{{'home.typo_title_2' | translate}}</h4>
        <div class="img-wrapper"><img ng-src="{{::( 'app/typography/typo05.png' | appImage )}}" alt=""/></div>
        <p>{{'home.typo_content_2' | translate}}</p>
        <a href class="learn-more">{{'home.lean_more' | translate}}</a>
      </div>
      <div class="col-sm-4">
        <h4>{{'home.typo_title_3' | translate}}</h4>
        <div class="img-wrapper"><img ng-src="{{::( 'app/typography/typo06.png' | appImage )}}" alt=""/></div>
        <p>{{'home.typo_content_3' | translate}}</p>
        <a href class="learn-more">{{'home.lean_more' | translate}}</a>
      </div>
    </div>

</div>