<div class="modal-content">
  <div class="modal-header bg-info">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <i class="ion-ios-barcode-outline modal-icon"></i><span> {{'history.detail.history_detail' | translate}}</span>
  </div>
  <div class="modal-body text-center">
  	<div ba-panel
	     ba-panel-class="tabs-panel">
	  <uib-tabset>
	    <uib-tab heading="{{'history.detail.information' | translate}}">
	      <p>
	        <table class="table">
			    <tbody style="text-align: left">
				    <tr>
				      <td class="table-id-info">{{'history.detail.ID' | translate}}</td>
				      <td>{{item.id}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.application_type' | translate}}</td>
				      <td>{{item.applicationType}}</td>
				    </tr>
			    	<tr>
				      <td>{{'history.detail.server_name' | translate}}</td>
				      <td>{{item.serverName}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.IPS' | translate}}</td>
				      <td>{{item.ips}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.duration' | translate}}</td>
				      <td>{{item.duration}} ms</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.ip_address' | translate}}</td>
				      <td>{{item.ipAddress}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.department_zone' | translate}}</td>
				      <td>{{item.departmentZone}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.province' | translate}}</td>
				      <td>{{item.province}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.district' | translate}}</td>
				      <td>{{item.district}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.address' | translate}}</td>
				      <td>{{item.address}}</td>
				    </tr>
			    </tbody>
			  </table>
	      </p>
	    </uib-tab>
	    <uib-tab heading="{{'history.detail.network_connection' | translate}}">
	      <p>
	        <table class="table">
			    <tbody style="text-align: left">
				    <tr>
				      <td>{{'history.detail.download_speed' | translate}}</td>
				      <td>{{item.downloadSpeed}} {{unitRateDisplay}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.max_download_speed' | translate}}</td>
				      <td>{{item.maxDownloadSpeed}} {{unitRateDisplay}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.upload_speed' | translate}}</td>
				      <td>{{item.uploadSpeed}} {{unitRateDisplay}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.max_upload_speed' | translate}}</td>
				      <td>{{item.maxUploadSpeed}} {{unitRateDisplay}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.package_loss' | translate}}</td>
				      <td>{{item.packageLoss}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.latency' | translate}}</td>
				      <td>{{item.latency}} ms</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.min_latency' | translate}}</td>
				      <td>{{item.minLatency}} ms</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.variation_latency' | translate}}</td>
				      <td>{{item.variationLatency}} ms</td>
				    </tr>
			    </tbody>
			  </table>
	      </p>
	    </uib-tab>
	    <uib-tab heading="{{'history.detail.GMS' | translate}}">
	      <p>
	        <table class="table">
			    <tbody style="text-align: left">
				    <tr>
				      <td>{{'history.detail.GPS' | translate}}</td>
				      <td>{{item.latitudes}}/{{item.longitudes}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.MCC' | translate}}</td>
				      <td>{{item.mcc}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.MNC' | translate}}</td>
				      <td>{{item.mnc}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.network_technology' | translate}}</td>
				      <td>{{item.networkTechnology}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.Cid' | translate}}</td>
				      <td>{{item.cid}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.LACS' | translate}}</td>
				      <td>{{item.lac}}</td>
				    </tr>
				    <tr>
				      <td>{{'history.detail.signal_strength' | translate}}</td>
				      <td>{{item.signalStrength}}</td>
				    </tr>
			    </tbody>
			  </table>
	      </p>
	    </uib-tab>
	  </uib-tabset>
	</div>
	<!-- 
  <div class="modal-footer">
  	<button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div> -->
</div>
